
body {
   
   
    font-family: "Amatic SC", sans-serif;
  font-size: bold;
  text-align: center;
  }

  nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}


  .audio-player {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      height: 80px;
      background-color: #f3f3f3;
      border-radius: 8px;
      padding: 8px;
      box-sizing: border-box;
    }
    
    .player-controls {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
    
    .song-info {
      margin-bottom: 4px;
    }
    
    .song-title {
      font-size: 16px;
      color: #333;
      margin: 0;
    }
    
    .artist {
      font-size: 12px;
      color: #666;
      margin: 0;
    }
    
    .progress-bar {
      width: 100%;
      height: 4px;
      background-color: #ddd;
      border-radius: 2px;
      overflow: hidden;
    }
    
    .progress {
      width: 0;
      height: 100%;
      background-color: #a8a8a8;
      animation: progress-animation 10s linear infinite;
    }
    
    .buttons {
      display: flex;
      align-items: center;
      margin-top: 4px;
    }
    
    button {
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
    }
    
    .play-btn,
    .pause-btn,
    .skip-btn,
    .volume-btn {
      font-size: 16px;
      color: #666;
      margin-right: 8px;
      transition: transform 0.2s ease-in-out;
    }
    
    .play-btn:hover,
    .pause-btn:hover,
    .skip-btn:hover,
    .volume-btn:hover {
      transform: scale(1.2);
    }
    
    .volume-slider {
      width: 100px;
      height: 5px;
      background-color: #ccc;
      position: relative;
      margin-left: 10px;
    }
    
    .volume-slider-bar {
      height: 100%;
      background-color: #666;
    }
    
    .volume-slider-handle {
      width: 16px;
      height: 16px;
      background-color: #666;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      cursor: pointer;
    }
    
    @keyframes progress-animation {
      0% {
        width: 0;
      }
    
      100% {
        width: 100%;
      }
    }
    
    ul {
      list-style: none;
    }
    